doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    style.
      body { margin: 0; }
      .canvas { overflow: hidden; }
  body
    .canvas.js-webgl.js-height-fitter
    script(src="./bundle.js")
