- const dirs = {{dirs}};
doctype html
html(lang="ja")
  head
    title WebGL Gallery
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Caption:700|Ubuntu+Condensed")
    link(rel="stylesheet" href="./style.css")
  body
    h1 WebGL Gallery
    ul
      each dir in dirs.reverse()
        li
          a(href=`${dir}/` target="_blank")= dir
